section.contact {
  h3.header {
    background: image-url('contact-page-header-img.jpg') center no-repeat;
    background-size: cover;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 25em;
    margin: 0;
  }
}
