section.portfolio {
  .full-width-video {
    width: auto;
  }
  h3 {
    font-family: 'halogen', sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .case-studies {
    max-width: 960px;
    margin: 0 auto;
    h4 {
      font-family: 'halogen', sans-serif;
      font-weight: normal;
      font-size: .75em;
      text-transform: uppercase;
      text-align: left;
      margin: .75em 0;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        display: block;
        float: left;
        margin-right: .5em;
        margin-bottom: .5em;
        a {
          display: block;
          background-position: 0 0;
          background-size: cover;
          background-repeat: no-repeat;
          width: 231px;
          height: 231px;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
        }
        &.link-1 {
          a {
            background-image: image-url('case-study-link-1.jpg');
          }
        }
        &.link-2 {
          a {
            background-image: image-url('case-study-link-2.jpg');
          }
        }
        &.link-3 {
          a {
            background-image: image-url('case-study-link-3.jpg');
          }
        }
        &.link-4 {
          a {
            background-image: image-url('case-study-link-4.jpg');
          }
          margin-right: 0;
        }
        a:hover {
          background-position: 0 100%;
        }
      }
    }
  }
  h4.divider {
    display: block;
    padding: 2em 0;
    margin: 1em auto;
    color: #fff;
    background-color: #cbcbcb;
    font-family: 'halogen', sans-serif;
    font-weight: normal;
    /* Should be 53.13px */
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    strong {
      font-weight: bold;
    }
  }
  .sample {
    max-width: 960px;
    margin: 1em auto;
    .title {
      border-bottom: 2px solid #f1f1ec;
      h6 {
        font-size: .9em;
        font-family: 'halogen', sans-serif;
        text-align: left;
        text-transform: uppercase;
        color: #949494;
        letter-spacing: 1px;
        border-bottom: 2px solid #f1f1ec;
        margin: 1em 0 .5em;
      }
      p {
        color: #4a4a4a;
        font-size: .65em;
        text-align: left;
        line-height: 1.5;
        font-weight: normal;
        margin: 0 0 .75em;
        padding: 0;
        text-transform: none;
        letter-spacing: 1px;
      }
    }
    .segment {
      overflow: hidden;
      margin: 1em auto;
      border-bottom: 2px solid #f1f1ec;
      padding-bottom: 2.5em;
      h6 {
        font-size: .7em;
        font-family: 'halogen', sans-serif;
        font-weight: normal;
        text-align: left;
        text-transform: uppercase;
        color: #949494;
        letter-spacing: 1px;
        border-bottom: 2px solid #f1f1ec;
        margin: 1em 0 .5em;
      }
      p {
        color: #4a4a4a;
        font-size: .65em;
        text-align: left;
        line-height: 1.5;
        font-weight: normal;
        margin: 0;
        padding: 0;
        text-transform: none;
        letter-spacing: 1px;
      }
      ul.color-blocks {
        display: block;
        margin: 1em 0 0;
        padding: .8em 0 0;
        border-top: 2px solid #f1f1ec;
        li {
          display: block;
          float: left;
          height: 75px;
          width: 75px;
          margin-right: .8em;
          &.dark-blue {
            background-color: #1a264d;
          }
          &.orange {
            background-color: #d56341;
          }
          &.yellow {
            background-color: #dde56b;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .left {
        float: left;
      }
      .right {
        float: right;
        h6 {
          text-align: right;
        }
        p {
          text-align: right;
        }
      }
      .branding {
        width: 11em;
      }
      .branding-logo {
        margin-top: 1.3em;
      }
      .website-photography {
        margin-top: .75em;
        width: 10em;
      }
    }
  }
}
