@mixin mobile-headline {
  display: block;
  border-bottom: none;
  text-align: center;
}

.no-mobile {
  @include mobile {
    display: none !important;
  }
}

section.portfolio {
  .full-width-video {
    width: auto;
  }
  h2 {
    font-size: 1.95em;
  }
  h3 {
    font-family: 'halogen', sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .case-studies {
    max-width: 960px;
    margin: 0 auto;
    h4 {
      font-family: 'halogen', sans-serif;
      font-weight: normal;
      font-size: .75em;
      text-transform: uppercase;
      text-align: left;
      margin: .75em 0;
      &:first-of-type {
        text-align: center;
      }
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      overflow: hidden;
      @include mobile {
        width: 93vw;
        margin: 0 auto;
      }
      li {
        display: block;
        float: left;
        margin-right: .5em;
        margin-bottom: .5em;
        a {
          display: block;
          background-position: 0 0;
          background-size: cover;
          background-repeat: no-repeat;
          width: 231px;
          height: 231px;
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          @include mobile {
            width: 45vw;
            height: 45vw;
          }
        }
        &:nth-child(even) {
          @include mobile {
            margin-right: 0;
          }
        }
        &.link-1 {
          a {
            background-image: image-url('case-study-link-1.jpg');
          }
        }
        &.link-2 {
          a {
            background-image: image-url('case-study-link-2.jpg');
          }
        }
        &.link-3 {
          a {
            background-image: image-url('case-study-link-3.jpg');
          }
        }
        &.link-4 {
          a {
            background-image: image-url('case-study-link-4.jpg');
          }
          margin-right: 0;
        }
        a:hover {
          background-position: 0 100%;
        }
      }
    }
  }
  h4.divider {
    display: block;
    padding: 2em 0;
    margin: 1em auto;
    color: #fff;
    background-color: #cbcbcb;
    font-family: 'halogen', sans-serif;
    font-weight: normal;
    /* Should be 53.13px */
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    strong {
      font-weight: bold;
    }
  }
  .sample {
    max-width: 960px;
    margin: 1em auto;
    .title {
      border-bottom: 2px solid #f1f1ec;
      h6 {
        font-size: .9em;
        font-family: 'halogen', sans-serif;
        text-align: left;
        text-transform: uppercase;
        color: #949494;
        letter-spacing: 1px;
        border-bottom: 2px solid #f1f1ec;
        padding-bottom: .1em;
        margin: 1em 0 .5em;
        @include mobile {
          font-size: 1.15em;
          border-bottom: 0;
          text-align: center;
        }
      }
      p {
        color: #4a4a4a;
        font-size: .6em;
        text-align: left;
        line-height: 1.5;
        font-weight: normal;
        margin: 0 0 .75em;
        padding: 0;
        text-transform: none;
        letter-spacing: 1px;
        @include mobile {
          display: none;
        }
      }
      @include mobile {
        border-bottom: 0;
      }
    }
    .segment {
      overflow: hidden;
      margin: 1em auto;
      img.mobile-fullsize {
        @include mobile {
          width: 100%;
        }
      }
      &:last-of-type {
        border-bottom: 0;
      }
      &.results {
        @include mobile {
          display: none;
        }
      }
      h6 {
        font-size: .7em;
        font-family: 'halogen', sans-serif;
        font-weight: normal;
        text-align: left;
        text-transform: uppercase;
        color: #949494;
        letter-spacing: 1px;
        border-bottom: 2px solid #f1f1ec;
        margin: 1em 0 .5em;
        &.mobile {
          @include mobile {
            @include mobile-headline;
          }
        }
        &.mobile-only {
          display: none;
          @include mobile {
            @include mobile-headline;
          }
        }
      }
      p {
        color: #4a4a4a;
        font-size: .6em;
        text-align: left;
        line-height: 1.5;
        font-weight: normal;
        margin: 0 0 1em;
        padding: 0;
        text-transform: none;
        letter-spacing: 1px;
      }
      ul.color-blocks {
        display: block;
        margin: 1em 0 0;
        padding: .8em 0 0;
        border-top: 2px solid #f1f1ec;
        @include mobile {
          display: none;
        }
        li {
          display: block;
          float: left;
          height: 75px;
          width: 75px;
          margin-right: .8em;
          &.dark-blue {
            background-color: #1a264d;
          }
          &.orange {
            background-color: #d56341;
          }
          &.yellow {
            background-color: #dde56b;
          }
          &.dark-grey {
            background-color: #545555;
          }
          &.green {
            background-color: #8dc63f;
          }
          &.light-grey {
            background-color: #d5d4d4;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .left {
        float: left;
        @include mobile {
          float: none;
        }
      }
      .right {
        float: right;
        h6 {
          text-align: right;
          @include mobile {
            text-align: center;
          }
        }
        p {
          text-align: right;
        }
        @include mobile {
          float: none;
        }
      }
      .branding {
        width: 11em;
        margin-bottom: 2.5em;
        & h6 {
          @include mobile {
            border-bottom: 0;
            text-align: center;
          }
          &.nd-logo {
            @include mobile {
              position: relative;
              top: 1.75em;
              margin-top: -1em;
            }
          }
        }
        & p {
          @include mobile {
            display: none;
          }
        }
        @include mobile {
          width: auto;
          margin-bottom: 0;
        }
      }
      .branding-logo {
        margin-top: 1.3em;
        & img {
          @include mobile {
            width: 100%;
          }
        }
        @include mobile {
          margin-top: 0;
        }
      }
      .website-photography {
        margin-top: .75em;
        width: 10em;
        @include mobile {
          display: none;
        }
      }
      .video {
        width: 12em;
        &.nerd-deck {
          margin-top: .5em;
          width: 11em;
          @include mobile {
            width: auto;
          }
        }
        p {
          @include mobile {
            display: none;
          }
        }
        @include mobile {
          width: auto;
        }
      }
      .video-player {
        margin-top: 1em;
        .full-width-video {
          width: 595px;
          height: 335px;
          @include mobile {
            width: 100%;
            height: auto;
          }
        }
        iframe {
          box-shadow: 0 0 .5em 0 rgba(0,0,0,.4);
        }
        ul {
          display: block;
          overflow: hidden;
          text-align: left;
          margin: 1em 0;
          padding: 0;
          li {
            float: left;
            display: block;
            margin-right: .27em;
            &:last-child {
              margin-right: 0;
            }
          }
          @include mobile {
            display: none;
          }
        }
      }
      .business-card {
        margin: 1em 0 0 3em;
        h6 {
          margin-bottom: .85em;
          border-bottom: 0;
        }
        img {
          box-shadow: 0 0 .3em 0 rgba(0,0,0,.4);
          &:first-of-type {
            margin-right: 1em;
            @include mobile {
              margin: 1em auto;
            }
          }
          @include mobile {
            width: 255px;
            display: block;
            margin: 1em auto;
          }
        }
        &.nerd-deck {
          h6 {
            margin-left: 1em;
          }
          img {
            box-shadow: none;
          }
        }
        @include mobile {
          margin: 0;
        }
      }
      .collateral {
        width: 10.25em;
        @include mobile {
          display: none;
        }
      }
      .nd-logo {
        margin-top: .25em;
        .mobile-fullsize {
          @include mobile {
            width: 80%;
          }
        }
      }
      .website-image {
        .mobile-fullsize {
          @include mobile {
            -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
          }
        }
      }
      .website {
        width: 10em;
        margin-top: 1em;
        @include mobile {
          display: none;
        }
      }
      .campaign-theme {
        width: 10em;
        @include mobile {
          display: none;
        }
      }
      .campaign-image {
        width: auto;
        max-width: 29em;
        margin-top: .8em;
        img {
          width: 100%
        }
        h6 {
          @include mobile {
            font-size: .8em;
          }
        }
      }
      .direct-mail-images {
        padding-bottom: 2em;
        ul {
          display: block;
          margin: .35em 0 0;
          padding: 0;
          li {
            display: block;
            float: left;
            @include mobile {
              float: none;
            }
            &:first-of-type {
              margin-right: 1em;
              @include mobile {
                margin-right: 0;
              }
            }
            h6 {
              border-bottom: 0;
              @include mobile {
                margin: 1em;
                font-size: .8em;
              }
            }
            img {
              box-shadow: 0 0 .5em 0 rgba(0,0,0,.4);
              @include mobile {
                width: 90vw;
                max-width: 330px;
                display: block;
                margin: 0 auto;
              }
            }
          }
        }
        h6 {
          font-size: .8em;
        }
      }
      .direct-mail {
        @include mobile {
          display: none;
        }
      }
      .event-background {
        width: 9.7em;
        @include mobile {
          display: none;
        }
      }
      .event-background-image {
        margin-top: 1em;
        width: 29em;
        img {
          width: 100%
        }
        @include mobile {
          display: none;
        }
      }
      .video-script-image {
        margin-top: .5em;
        margin-bottom: 1em;
        img {
          @include mobile {
            width: 100%;
          }
        }
        @include mobile {
          margin: .5em 1em 1em;
        }
      }
      .video-script {
        width: 10em;
        @include mobile {
          display: none;
        }
      }
      .lights-camera-speedo {
        width: 12em;
        @include mobile {
          display: none;
        }
      }
      .lights-camera {
        .full-width-video {
          @include mobile {
            width: 100%;
            max-width: 595px;
            max-height: 334px;
          }
        }
      }
      .show-time-image {
        img {
          margin: 1.6em 0 0 1.9em;
        }
      }
      .show-time {
        width: 11em;
      }
    }
    &.nerd-deck {
      margin-top: 2em;
      .title {
        @include mobile {
          border-bottom: 0;
        }
        h6 {
          @include mobile {
            font-size: 1.3em;
          }
        }
      }
      img.full-size {
        @include mobile {
          width: 80%;
        }
      }
    }
    &.navex-global {
      margin-top: 2em;
      .title {
        h6 {
          @include mobile {
            margin-top: 2.5em;
          }
        }
      }
    }
    &.montage {
      margin-top: 2em;
      @include mobile {
        padding-bottom: 2em;
      }
      .segment {
        @include mobile {
          margin: 0;
        }
      }
      .title {
        h6 {
          @include mobile {
            font-size: .75em;
          }
        }
      }
    }
    &.stalk-us {
      margin-top: 3em;
      margin-bottom: 3em;
      h6 {
        @include mobile {
          font-size: 1em;
        }
      }
    }
  }
  .sample-dark-wrapper {
    background-color: #f1f1ec;
    overflow: hidden;
    .sample {
      .title {
        border-bottom: 2px solid #d8d8d4;
        h6 {
          border-bottom: 2px solid #d8d8d4;
          @include mobile {
            border-bottom: 0;
          }
        }
        @include mobile {
          border-bottom: 0;
        }
      }
      .segment {
        border-bottom: 2px solid #d8d8d4;
        @include mobile {
          border-bottom: 0;
        }
        &:last-of-type {
          border-bottom: 0;
        }
        h6 {
          border-bottom: 2px solid #d8d8d4;
          @include mobile {
            border-bottom: 0;
          }
        }
        ul.border-colors {
          border-top: 2px solid #d8d8d4;;
        }
        .business-card {
          h6 {
            border-bottom: 0;
          }
          img {
            @include mobile {
              width: 272px;
            }
            &:first-of-type {
              @include mobile {
                transform: translateX(2px);
              }
            }
          }
        }
      }
    }
  }
  .portfolio-social {
    line-height: 7;
    @include mobile {
      padding-top: 2em;
    }
    h6 {
      font-family: 'Halogen', sans-serif;
      font-size: .85em;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 2em 0 0;
      padding: 0;
      vertical-align: middle;
      font-weight: lighter;
      letter-spacing: 1px;
      @include mobile {
        vertical-align: top;
        display: block;
        line-height: 1;
      }
    }
    ul {
      display: inline-block;
      overflow: hidden;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      li {
        float: left;
        display: block;
        margin-right: 1em;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          display: block;
          float: left;
          overflow: hidden;
          text-indent: 100%;
          white-space: nowrap;
          width: 60px;
          height: 58px;
          background-position: 0 0;
          background-repeat: no-repeat;
          &.vimeo {
            background-image: image-url('vimeo-btn.png');
          }
          &.facebook {
            background-image: image-url('facebook-btn.png');
          }
          &.twitter {
            background-image: image-url('twitter-btn.png');
          }
          &.linkedin {
            background-image: image-url('linkedin-btn.png');
          }
        }
      }
    }
  }
}
